{% extends "base.html" %}

{% block page_content %}
    <a href="/week?year={{ year }}&week={{ week - 1 }}" class="btn btn-primary">Previous week</a>
    <a href="/week?year={{ year }}&week={{ week + 1 }}" class="btn btn-primary">Next week</a>
    <h2>Vecka {{ week }} {{ year }}</h2>

    <table>
        <thead>
            <tr>
                <th>Dag</th>
                <th>Datum</th>
                {% for person in days.0.persons %}
                    <th>Person {{ person.person_id }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for day in days %}
                <tr>
                    <td>
                        {# Enkel mappning av weekday_index till namn #}
                        {% if day.weekday_index == 0 %}Måndag{% endif %}
                        {% if day.weekday_index == 1 %}Tisdag{% endif %}
                        {% if day.weekday_index == 2 %}Onsdag{% endif %}
                        {% if day.weekday_index == 3 %}Torsdag{% endif %}
                        {% if day.weekday_index == 4 %}Fredag{% endif %}
                        {% if day.weekday_index == 5 %}Lördag{% endif %}
                        {% if day.weekday_index == 6 %}Söndag{% endif %}
                    </td>
                    <td>{{ day.date }}</td>
                    {% for person in day.persons %}
                        <td>
                            {{ person.shift.code }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}